<!-- display boxes starts -->
<div class="container">
    <!-- input left display -->
    <div class="row justify-content-between">
        <div class="col-4 display display-box-1">
            <p> Summoner:{{}}</p>
            <p> Wins:</p>
            <p> Losses:</p>
            <p>Rank:</p>
            <p>League Points:</p>
            <p>Tier:</p>
        </div>
    

    <!-- input right display -->
        <div class="col-4 display display-box-2">
            <p> Summoner:</p>
            <p> Wins:</p>
            <p> Losses:</p>
            <p>Rank:</p>
            <p>League Points:</p>
            <p>Tier:</p>
        </div>
    </div>
</div>
<!-- display boxes ends -->