<!-- Input area starts-->
<form id="form">
    <div class="container" style="margin-bottom:5%">
        <div class="row justify-content-evenly">
                <input class="col-4 input-box input-left" placeholder="Summoner ID"
                    style="font-family:Arial, FontAwesome" type="text">
        
                <p class="col-4 vs-text"> VS </p>

                <input class="col-4 input-box input-right" placeholder="Summoner ID"
                    style="font-family:Arial, FontAwesome" type="text">
        </div>
    </div>

    <button type="submit" class="btn search-btn btn-primary rounded">Compare</button>
</form>

<!-- Input area ends-->
<script src="/assets/js/script.js"></script>