<!-- Input area starts-->
<div class="container" style="margin-bottom:5%">
    <div class="row justify-content-evenly">
            <input class="col-4 input-box input-left" placeholder="Summoner ID"
                style="font-family:Arial, FontAwesome" type="text">
    
            <p class="col-4 vs-text"> VS </p>

            <input class="col-4 input-box input-right" placeholder="Summoner ID"
                style="font-family:Arial, FontAwesome" type="text">
    </div>
</div>

<button type="click" class="btn search-btn btn-primary rounded">Compare</button>

<!-- Input area ends-->

<!-- display boxes starts -->
<div class="container">
    <!-- input left display -->
    <div class="row justify-content-between">
        <div class="col-4 display display-box-1">
            <p> Summoner:</p>
            <p> Wins:</p>
            <p> Losses:</p>
            <p>Rank:</p>
            <p>League Points:</p>
            <p>Tier:</p>
        </div>
    

    <!-- input right display -->
        <div class="col-4 display display-box-2">
            <p> Summoner:</p>
            <p> Wins:</p>
            <p> Losses:</p>
            <p>Rank:</p>
            <p>League Points:</p>
            <p>Tier:</p>
        </div>
    </div>
</div>
<!-- display boxes ends -->