<body class="body">
    <header>
        <div class="header-flex-container">
            <!-- <div> <img src="assets/pictures/logo2.png" alt="Tft compare logo"></div> -->
            <div>
                <h1>TFT Compare</h1>
            </div>
            <a id="sign-in" href="/login">Sign In</a>
        </div>
    </header>

    
    <main>

<div class="body-flex-container">
        <!-- Top 5 display row -->
        <div class="top-display-container">
            <p> Top 3 TFT Compare users </p>
            <div class = "top-1" style="margin-left:15vw"> 
                <img src = "assets/pictures/icon1.jpg" width="80 px" height="80 px">
                <p> Harry Potter </p>
            </div>
            <div class = "top-2" style="margin-left:15vw">
                <img src = "assets/pictures/icon1.jpg" width="80 px" height="80 px">
                <p> Spiderman </p>
            </div>
            <div class = "top-3" style="margin-left:15vw">
                <img src = "assets/pictures/icon1.jpg" width="80 px" height="80 px">
                <p> Dr Strange </p>
            </div>
        </div>


<!-- Input area starts-->
<form id="form">
    <div class="container" style="margin-bottom:5%">
        <div class="row justify-content-evenly">
                <input class="col-4 input-box input-left" placeholder="Summoner ID"
                    style="font-family:Arial, FontAwesome" type="text">
        
                <p class="col-4 vs-text"> VS </p>

                <input class="col-4 input-box input-right" placeholder="Summoner ID"
                    style="font-family:Arial, FontAwesome" type="text">
        </div>
    </div>

    <button type="submit" class="btn search-btn btn-primary rounded">Compare</button>
</form>

</div>

<!-- Input area ends-->
<script src="/assets/js/script.js"></script>

</main>
</body>