<link rel="stylesheet" href="./assets/css/login-style.css">

<body class="body">
    <header>
        <img class="logo" src="assets/pictures/logo.png">
        <div class="header-flex-container">
            <!-- <div> <img src="assets/pictures/logo2.png" alt="Tft compare logo"></div> -->
                <h1>TFT Compare</h1>
                <a href="/">Back</a>
        </div>
    </header>

    
    <main>
        <div class="row">
            <div class="sign-in">
                <form onsubmit = 'signIn(event)'>
                    <h2 class="col-12"> Sign In </h2>
                    <input class="sign-in-email col-6" placeholder="Email Address" type="text">
                    <input class="sign-in-password col-6" placeholder="Password" type="text"> <br/>
                    <button class="sign-in-btn btn btn-primary btn-lg btn-block col-6" type="submit">Sign In</button>

                    <h2 class="col-12">Forgot your password?</h2>
                </form>
            </div>

            <div class="sign-up">
                <h2 class="col-12"> Sign Up </h2>
                <form onsubmit = 'signUp(event)'>

                    <input class="sign-up-email col-6" placeholder="Email Address" type="text">
                    <p class="col-12"> *must be a valid email address</p>

                    <input class="sign-up-password col-6" placeholder="Password" type="text">
                    <p class="col-12">*must contain only alphanumeric values (eg. a,b,c,1,2,3)</p>
                    <p class="col-12">*must contain at least 6 characters</p>
                    <button class="sign-up-btn btn btn-primary btn-lg btn-block col-6" type="submit">Sign Up</button>
                </form>
            </div>


            <div class="col-12 contact-info">
                <div>
                    <h1>Need help? Contact Us </h1>
                    <p> 
                        Let us know and we'll be happy to talk to you!
                        <br/>
                        <a href="https://github.com/Atweaver7/tft-compare" target="_blank"> Visit Our Git Hub</a>
                    </p>
                </div>
            </div>              
        </div>
    </main>
    <script src = '/assets/js/login.js'></script>
</body>


