<link rel="stylesheet" href="./assets/css/login-style.css">

<body class="body">
    <header>
        <div class="header-flex-container">
            <img class="logo" src="assets/pictures/logo.png" alt="Tft compare logo">
            <a href="/"><h1>TFT Compare</h1></a>
        </div>
    </header>

    
<main>

<div class="sign-in">
        <h2> Sign In </h2>
        <input placeholder="Email Address" type="text">
        <input placeholder="Password" type="text">
        <button type="submit">Sign In</button>

        <h1>Forgot your password?</h1>
    </div>

    <div class="sign-up">
        <h2> Sign Up </h2>
        <input placeholder="Email Address" type="text">
        <p>*must be a valid email address</p>

        <input placeholder="Password" type="text">
        <p>*must contain only alphanumeric values (eg. a,b,c,1,2,3)</p>
        <p>*must contain at least 6 characters</p>
        <button type="submit">Sign Up</button>

        <h1>Need help? Contact Us </h1>

    </div>  
</div>

</main>
</body>


