* {
  margin: 0%;
  font-family: 'Gill Sans','Impact', 'Haettenschweiler', "Arial Narrow Bold", 'sans-serif';
  color: azure;
}

.body {
  background-image: url("../pictures/background.jpg");
  background-size: cover;
  background-repeat:repeat;
}

.header-flex-container{
  margin-left: 20%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header {
  height: 20vh;
  background-image: linear-gradient(to right, #506478, 	#002a56);
  opacity: 75%;
  text-align: center;
  color: azure;
  padding: 30px;
  margin-bottom: 30px;
}

/* Logo */
/* header img {
  margin: 0px 100px;
  width: 150px;
  height: 150px;
} */

header h1 {
  font-size: 60px;
}

/* sign in button style starts */
#sign-in{
  /* float:left; */
  width: 10%;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

#sign-in:disabled {
  pointer-events: none;
}

#sign-in:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#sign-in:active {
  box-shadow: none;
  transform: translateY(0);
}
/* sign in button style ends */

.top-5-display-container {
  display:block;
  background-color: #a2bbce;
  opacity: 80%;
  width:100%;
  height: 100px;
}


.body-flex-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


.top-5-display-container p{
  font-size: 24px;
  color: #000000;
}

/* .search-form {
  width: 100%;
} */

form {
  font-size: 36px;
  margin-top: 25vh;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* .instruction{
  white-space: normal;
  margin: 20px;
  display:block;
  font-size: 35px;
  line-height: 30px;
  font-weight:100;
} */

.input-box {
  margin: 0 20%;
  display:block;
  border-radius: 25px;
  border: solid 1px white;
  background: transparent;
  width: 400px;
  padding: 10px 20px
}

input,
input::-webkit-input-placeholder {
  font-size: 15px;
  color: white
}

.vs-text {
  text-align: center;
  font-size: 36px;
  color: azure;
  margin: 10%;
}

form button {
  margin-top: 10%;
  padding: 10px 20px;;
  font-size: 25px;
}


/* .search-left-container {
  margin-top: 200px;
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.search-right-container {
  margin-top: 200px;
  text-align: center;
  padding: 15px 15px 15px 15px;
} */

/* .display-box-1 {
    color: aliceblue;
    border: white 2px solid;
    text-align: center; */

.display-box-2 {
    color: aliceblue;
    border: white 2px solid;
    text-align: center;
}



.social-btn {
  position: absolute;
  bottom: 20px;
  left: 47%
}

i {
  padding: 5px;
  color: white
}

input,
input:focus {
  border: solid 1px white;
  outline: 0;
  -webkit-appearance: none;
  box-shadow: nones;
  -moz-box-shadow: none;
  -webkit-box-shadow: none
}



@media only screen and (max-width: 600px) {
  .firstLine {
      font-size: 20px
  }
}



